<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.esgi.davidghetto.loupgarou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- J'ai compris pourquoi votre activité ne se réduisait pas comme elle devrait même avec cette option.
            C'est a cause de votre paramètre android:windowFullscreen=true dans le style. windowFullscreen prend le
            dessus sur cette option. Par conséquent l'activité doit prendre toute la place malgré le adjustResize.
            Deux choix s'offrent à vous. Ne pas avoir l'application en fullscreen. Ou faire le calcul/redraw à la main. -->
        <activity
            android:name=".activities.AddPlayersActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.RoleSelectionActivity" />
        <activity android:name=".activities.RoleAttributionActivity" />
        <activity android:name=".activities.FirstTurnActivity" />
        <activity android:name=".activities.NormalTurnActivity"/>
        <activity android:name=".activities.generic.VoteActivity"/>
        <activity android:name=".activities.generic.PickActivity"/>
        <activity android:name=".activities.DisplayCardActivity"/>
        <activity android:name=".activities.GameInfoActivity"/>
    </application>

</manifest>